table {
    border-collapse: collapse;
}

div,input,textarea {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: gulim;
    transform: rotate(0.04deg)
} 

html {
    line-height: 1.15
}

.sns-background {
    padding: 20px;
    background:  #f7f9fc;
}

.sns-white-box {
    padding: 30px 30px 50px 30px;
    background: white;
    max-width: 1200px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 1px silver;
    margin-bottom: 10px;
}

.sns-btn {
    border: none;
    border-radius: 5px;
    color: white;
    background: #6fbaf8;
    margin-top: 10px;
    padding: 5px 25px;
}

.sns-line .col-3 {
    height: 50px;
    border-bottom: 2px solid #6fbaf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-line .col-9 {
    height: 50px;
    border-bottom: 2px solid lightgray;
}
.sns-line {
    max-width: 1200px;
    margin: 0px auto 20px auto;
}

.sns-line .col-12 {
    height: 50px;
    border-bottom: 2px solid lightgray;
}

.sns-line p {
    margin-bottom: 0;
    color: #6fbaf8;
    font-size: 20px;
}
.sns-margin-0 p{
    margin-bottom: 5px;
}

.sns-margin-0 {
    
}

.sns-button-box button{
    width: 20%;
    border: 2px solid lightgray;
    border-radius: 20px;
    background: white;
    font-size: 12px;
    margin: 0px 5px 0px 5px;
    max-width: 100px;
}

.sns-button-box {
    display: flex;
}

.sns-last-box {
    text-align: center;
}

.sns-last-box a {
    color: #6fbaf8;
    text-decoration: none;
}
.sns-last-box i{
    color: #6fbaf8;;
    display: block;
    margin-bottom: 20px;
}

.sns-last-box p {
    margin-top: 10px;
}

.sns-three-box {
    max-width: 1200px;
    margin: auto;
}

.sns-three-box>div {
    padding: 0px;
}

.sns-three-box>div:nth-child(2) {
    padding: 0px 10px;
}

@media screen and (min-width: 768px) {
    .sns-white-box .col-md-5 {
        border-right: 2px solid lightgray;
        margin-right: 50px;
    }
    .sns-three-box .col-md-7 .sns-white-box {
        height: 450px;
    }
    .sns-last-box {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .sns-profile {
        margin-bottom: 30px;
    }
    .sns-know-might {
        height: 0px;
        overflow: hidden;
    }
}

.pseudo::before{
    content:'1.';
    color: red;
    font-size: 30px;
}